* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Geist", sans-serif;
    font-style: normal;
    background-color: rgb(246, 249, 251);
}

/* header section styles */
.header-section {
    max-width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}

.header-title {
    font-size: 2rem;
    font-weight: 700;
    color: oklch(25.7% 0.09 281.288);
    margin-bottom: 15px;
}

.count-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.count-box {
    /* border: 1px solid rgb(203, 199, 199); */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

hr {
    margin-top: 30px;
    border: 1px solid rgb(224, 222, 222);
}


/* main section styles */
.main {
    max-width: 80%;
    margin: 0 auto;
}

.available-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.filter-btn {
    outline: none;
    padding: 8px 20px;
    background-color: white;
    color: rgb(35, 31, 31);
    border-radius: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.filter-btn:hover {
    outline: 2px solid #3B82F6;
    color: #3B82F6;
}

.filter-btn-active {
    outline: none;
    padding: 8px 20px;
    background-color: #3B82F6;
    color: aliceblue;
    border-radius: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.filter-btn-active:hover {
    outline: none !important;
}

.filtered-section {
    display: none;
    grid-template-columns: 1;
    gap: 16px;
    padding: 25px 0;
}

/* .filtered-section > *:not(:last-child) {
  margin-bottom: 16px;
} */


#nojobs {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    padding: 100px 0;
    margin-bottom: 30px;
}

.allcards {
    display: grid;
    grid-template-columns: 1;
    gap: 16px;
    padding: 25px 0;
}

.card {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    transition: 0.2s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 20px rgba(105, 105, 105, 0.11);
}

/* extra class for detailing */
.interview-card {
    border-left: 5px solid oklch(72.3% 0.219 149.579);
}

.reject-card {
    border-left: 5px solid oklch(57.7% 0.245 27.325);
}

.job-details {
    margin: 16px 0;
}

.status {
    display: inline;
    padding: 10px 15px;
    background-color: #EEF4FF;
    color: oklch(25.7% 0.09 281.288);
    font-weight: 500;
    border-radius: 8px;
    margin-bottom: 10px;
}

.interview-status {
    display: inline;
    padding: 6px 17px;
    background-color: oklch(72.887% 0.21192 147.841 / 0.047);
    color: oklch(72.3% 0.219 149.579);
    border: 2px solid oklch(72.3% 0.219 149.579);
    font-weight: 500;
    border-radius: 4px;
    margin-bottom: 10px;
}

.rejected-status {
    display: inline;
    padding: 6px 17px;
    background-color: oklch(58.305% 0.23863 28.392 / 0.06);
    color: oklch(57.7% 0.245 27.325);
    border: 2px solid oklch(57.7% 0.245 27.325);
    font-weight: 500;
    border-radius: 4px;
    margin-bottom: 10px;
}

.extra-text {
    margin: 15px 0 20px;
}

.interview-btn {
    font-weight: 600;
    color: oklch(72.3% 0.219 149.579);
    border: 2px solid oklch(72.3% 0.219 149.579);
    padding: 5px 13px;
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.interview-btn:hover {
    background-color: oklch(72.3% 0.219 149.579);
    color: aliceblue;
}

.reject-btn {
    font-weight: 600;
    color: oklch(57.7% 0.245 27.325);
    border: 2px solid oklch(57.7% 0.245 27.325);
    padding: 5px 13px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.reject-btn:hover {
    background-color: oklch(57.7% 0.245 27.325);
    color: aliceblue;
}

.delete-icon i {
    font-size: 2rem;
    color: rgb(142, 142, 142);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.delete-icon i:hover {
    color: oklch(57.7% 0.245 27.325);
}



@media screen and (max-width: 576px) {
    .header-section {
        max-width: 90%;
        padding: 20px 0 30px;
    }
    .header-title {
    font-size: 1.8rem;
    text-align: center;}
    .count-container {
        gap: 10px;
    }
    .count-box {
        text-align: center;
        padding: 10px 20px;
    }

    .main {
        max-width: 95%;
    }
}